.adBox {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 8px;
    box-shadow: 0px 0px 8px black;
    border: 2px solid black;
    overflow: auto;
}

.adFlavor {
    font-family: 'Caveat', cursive;
    font-size: 48px;
}

button {
    background-color: #0e3c7e;
    color: white;
    margin: 4px;
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.buttonActive {
    background-color: #1e60a9;
    color: white;
    margin: 4px;
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.buttonDisabled {
    background-color: gray;
    color: white;
    margin: 4px;
    border: none;
    padding: 4px;
    border-radius: 4px;
}

.lightTheme {
    background-color: white;
    color: #000;
    border: 2px solid #222;
}

.darkTheme {
    background-color: #222;
    color: #fff;
    border: 2px solid #fff;
}