.CookieVotes {
    background-color: #eee0b1;
    border: 2px solid black;
    height: 30px;
    margin: 4px;
}

.VanillaVotes {
    background-color: lightcyan;
    border: 2px solid black;
    height: 30px;
    margin: 4px;
}

.MatchaVotes {
    background-color: #69bf64;
    border: 2px solid black;
    height: 30px;
    margin: 4px;
}

.voteLabelData {
    display: flex;
    align-items: center;
}